<h1>ChessBoard</h1>

<table id="chess_board" cellpadding="5" cellspacing="0">
	<% @chessBoard.each do |row| %>
		<tr>
			<th scope="row"><%= @row_counter %></th>
			<% @row_counter -= 1 %>
    <% row.each do |cell| %>
			<td id="<%=cell%>"></td>
    <% end %>
    </tr>
  <% end %>
  <tr>
		<th scope="col"></th>
		<% ('a'..'h').each do |letter| %>
			<th scope="col"><%= letter.upcase %></th>
		<% end %>
	</tr>
</table>